.menu {

    &__list {
        list-style: none;
        padding: 0;
        display:none;
        border: 1px solid $grey;
        
        &-active {
            display: block;
        }
    }

    &__btn {
        padding: 2rem;
        display:block;  
        text-transform: uppercase;
    }


}